# **Therory Questions:**

1. What are data structures, and why are they important?
- Data structure is a way of organising and storing data so that it can be accessed and manipulated.
Data structures like lists, sets, dictionaries, and tuples are optimized for specific operations.


2. Explain the difference between mutable and immutable data types with examples.
- Mutable refers which we can modify after creating.
 - eg- list,dictionary, set

- Immutable refers which we can not modify after creating.
 - eg- str, tuple


3. What are the main differences between lists and tuples in Python?
-The main difference between list and tuple is, List are mutable but tuple are not mutable.


4. Describe how dictionaries store data.
- Dictionary store data in the form of key and value pair
 - key:value

  - key can be of any types but duplicate keys are not allowed.
  - value can be any types and duplicate values are also allowed.


5. Why might you use a set instead of a list in Python?
- sets automatically stores unique data so we can prefer set than list. Also we can perform set operation in set but not in list


6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters enclosed in quotes. It's one of the most commonly used built-in data types, used to represent textual data.
 - eg- "Ram","Aaryan","I am studying at pw skills"
- Str is different from list, like if we want to store password which should not be modified in future so we can use string as string is immutable.


7. How do tuples ensure data integrity in Python?
- As tuples are immutable and we can't change the the elements of tuples that ensure the data intergrity.
- for example we are storing employee id of any employee in any organization, we will not want to change the employee id by any mistake, so we can store in tuple and this will help in ensuring data integrity.


8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and provides fast access to data based on keys.
- Dictionary use hash table to store data as key and value, which helps in fast retreival of data and also insertation and deletetion.


9. Can lists contain different data types in Python?
- Yes, list can contain different data types in a same list.
 - eg- ['Aaryan',43,True,45.6,3+8j,in,[34,abe,False],{'a':23, 'b':56}]
    - Here in the above list example you can see we have stored data like str,bool,int,complex,dict,list under list.


10. Explain why strings are immutable in Python.
- Strings are immutable because we can't change the value or elements after creating.
- eg- PDF


11. What advantages do dictionaries offer over lists for certain tasks?
- If we need fast and specific data via key, we should you dictionary.
- If we need an ordered collection of collection of data we should use list.


12. Describe a scenario where using a tuple would be preferable over a list.
- As tuple is immutable and list are mutable, so if we want some data like cordinates or aadhar number or pan card number which there is no necessary of modification at all in future.In these scenario we can use tuple to store data.


13. How do sets handle duplicate values in Python?
- As set are unordered and unique collection of elements, it doesn't allow duplicate elements. If we will store duplicate value it will return the unique elements only single time.
 - eg- if we will store duplicate value in set it will give the every duplicate value only single time.
    - Input- set{1,4,2,675,43,2,1,8,8,12,12,8,8}
    - output- {1,2,8,12,4,675,43}


14. How does the "in" keyword work differently for lists and dictionaries?
- In list "in" is used for checking whether the elements is avilable in that list, if the elements will be avilabe then if will 'True' or else 'False'.
- In dictionary "in" is used for to check whether the key are avilable in that dict or not by returning "True" for yes and "False" for no.


15. Can you modify the elements of a tuple? Explain why or why not.
- We can't modify the elements of tuple as tuple is immutable. Also we can't do slicing ths also leads that we can't modify the elements of tuple.


16. What is a nested dictionary, and give an example of its use case?
- Nested dictionary means placing a dictionary as values under a outer dictionary using curly{} bracket.
 - students = {
    'name': "Aaaryan",
    'score':
     {'Math':70, 'Science': 80, 'Hindi':95}
    
    }



17. Describe the time complexity of accessing elements in a dictionary.
- It totally depends upon the number of elements and order of element, if we have 100 key pair value then if we are accessing the 1st pair it will take less time incomparison of 100th pair.


18. In what situations are lists preferred over dictionaries?
- In list, we can directly store number of hetrogenous elements but for storing in dictionary we need to use key and value.
- In list we can do sorting, capatalization and also spilit but in dict we can't do this.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary are cinsidered as unordered because its not storing in the same order as we are creating. This affect data retrieval in dictionary.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In List we can retrive the data as we have stored but in in dictionary we can't retrieve the data in same order.
- In list we can access the data by index but in dictionary we can access data by key.
- In list retrieval time is fast for accessing data indexing but in dictionary for fast accessing we need harsh table.
- When we know order and position, we can use list. And when we need specific name details we can use dictionary.

# **Practical Question Below:**

In [ ]:
# 1. Write a code to create a string with your name and print it.

str1 ="My name is Aaryan Raj"
print(str1)

My name is Aaryan Raj
Pyt
[1, 2, 3, 4, 5]
1
2
3
4
5
[1, 2, 3, 4, 10]
[1, 2, 4, 5]
b
[50, 40, 30, 20, 10]

In [ ]:
#2. Write a code to find the length of the string "Hello World".

str2 = "Hello world"
print(len(str2))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

str3 = "Python Programming"
print(str3[:3])

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

str4 = "hello"
str4.upper()
print(str4)

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

str4 = "I like apple."
str4.replace("apple" , "orange")
print(str4)

I like apple.

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

# we can write in two ways:
list1 = list(range(1,6))
print(list1)

#and 2.
l = []
for l in range(1,6):
    print(l)

In [ ]:
#7. Write a code to append the number 10 to the list |1, 2, 3, 4).

l2 = [1,2,3,4]
l2.append(10)
print(l2)

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

l3 = [1,2,3,4,5]
l3.pop(2)
print(l3)

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

l4 = ['a', 'b', 'c', 'd']
print(l4[1])

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

l5 = [10,20,30,40,50]
print(l5[::-1])

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t1= (100, 200, 300)
print(type(t1))

<class 'tuple'>

In [ ]:
#12. Write a code to access the second-to-last element of the tuple (red', 'green', 'blue', yellow').
t2= ("red", "green", "blue", "yellow")
print(t2[1:4])

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t3=(10,20,5,15)
print(max(t3))

20

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', rabbit').
t4=('dog', 'cat', 'rabbit')
print(t4.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
#I have made tuple including kiwi and excluding kiwi

fruits=("mango", "orange", "kiwi")
"kiwi" in fruits

fruits=("mango", "orange", "apple")
"kiwi" in fruits

False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1= {'a', 'b', 'c'}
print(set1)

{'a', 'c', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set 11, 2, 3, 4, 55.

set2 = {11, 2, 3, 4, 55}
set2.clear()
print(set2)

{2, 3, 4, 55, 11}

In [ ]:
#18. Write a code to remove the element 4 from the set 11, 2, 3, 4}.
set3 = {11,2,3,4}

set3.remove(4)
print(set3)

{11, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and 13, 4, 5}.
s1= {1,2,3}
s2= {13,4,5}
union=s1 | s2
print("The union of the set is:" ,union)

The union of the set is: {1, 2, 3, 4, 5, 13}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1= {1,2,3}
s2= {2,3,4}
intersection= s1 & s2
print("The intersection of set is:", intersection)

The intersection of set is: {2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1= {"name":"Aaryan Raj", "age":24, "city":"Bihar"}
print(dict1)

{'name': 'Aaryan Raj', 'age': 24, 'city': 'Bihar'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name: 'John', 'age: 25}.

dict1= {'name':'John','age':25}
dict1['country'] = 'USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name: 'Alice, 'age': 30}.
dict2= {'name': 'Alice', 'age': 30}
value=dict1['name']
print(value)

John

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name: 'Bob', 'age: 22, 'city: 'New York'}.

dict3= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3.pop('age')

print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name: 'Alice', 'city: 'Paris'}.
dict4= {'name': 'Alice', 'city': 'Paris'}

print('city' in dict4) #if the output is true means city is existing in dict4

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list= [10,2.4,'Aaryan','Raj',True]
my_tuple= (20,4+8j, 'Aaryan','Raj',False )
my_dict= {'name':'Aaryan Raj', 'age':24, 'study':'pwskilld', 'city':'bihar'}

print(f"My list is: {my_list}\nMy tuple is: {my_tuple}\nMy dictionary is: {my_dict}")

My list is: [10, 2.4, 'Aaryan', 'Raj', True]
My tuple is: (20, (4+8j), 'Aaryan', 'Raj', False)
My dictionary is: {'name': 'Aaryan Raj', 'age': 24, 'study': 'pwskilld', 'city': 'bihar'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)
my_list=[43,78,12,56,67]
print(sorted(my_list))

[12, 43, 56, 67, 78]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
list1 = ["I" ,"am", "studying", "at", "pwskills"]
print(list1[2])

studying

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Aaryan Raj', 'city':'Bihar'}
dict2 = {'fruits': 'Mango', 'vegetable':'Potata'}
d3 = dict1 | dict2
print(d3)

{'name': 'Aaryan Raj', 'city': 'Bihar', 'fruits': 'Mango', 'vegetable': 'Potata'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
list_of_string = ['aaryan', 'pwskills', 'data analytics']
print(set(list_of_string))

{'data analytics', 'pwskills', 'aaryan'}